@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Poetsen One", sans-serif;
 }

 body{
    transition: 0.5s;
 }


.main{
    width:100%;
    height:100vh;
    /* background-color:black; */
    display:flex;
    align-items:center;
    justify-content:center;
    
}


.container{
    border-radius: 10px;
    width:30rem;
    padding:10px;
    margin:10px;
    background-color: white;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-size: 2rem;
    margin:30px;
    padding:30px;
}

button{
    display:block;
    margin-top: 5px;
    height:40px;
    width:100%;
    font-size:30px;
    background-color:black;
    color:white;
    border-radius: 8px;
}